<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue基本模版</title>
    <!--1.引入vue.js-->
    <script src="js/vue.js"></script>
</head>
<body>
<!--这里就是MVVM中的View-->
<div id="app">
    <ul>
        <!--遍历数组-->
        <li v-for="(value,index) in list">{{index}}---{{value}}</li>
        <!--遍历字符串-->
        <li v-for="(value,index) in 'lover' ">{{index}}---{{value}}</li>
        <!--遍历数字-->
        <li v-for="(value,index) in 5 ">{{index}}---{{value}}</li>
        <!--遍历对象-->
        <li v-for="(value,key) in obj ">{{key}}---{{value}}</li>
    </ul>
</div>
<script>
    //2.创建一个Vue的实例对象
    let vue = new Vue({
        //3.告诉vue的实例对象，将来需要控制界面上的哪个区域
        el:'#app',
        //4.告诉vue实例对象被控制区域的数据是什么（Model）
        data:{
            name:'Andy',
            list:['张三','李四','王五','赵六'],
            obj:{
                name:'Andy',
                age:21,
                gender:'MALE'
            }
        }
    })
</script>
</body>
</html>
